* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  color: #737373; }

.logo {
  height: 50px;
  width: auto;
  margin: 12px; }

.menu__img {
  width: 32px;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: 24px;
  right: 11%; }

.img--content, .parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax {
  background-attachment: fixed; }

.img--grid {
  width: 280px;
  height: 200px; }

.main--column {
  width: 80%;
  height: 100%;
  margin: 0 auto; }

.grid, .una--columna, .dos--columnas, .tres--columnas {
  display: grid;
  grid-gap: 8px;
  margin-top: 16px;
  text-align: center; }

.top--container, .showcase--container {
  margin-top: 75px; }

.showcase--container {
  width: 100%;
  height: 60vh;
  background: url(../img/background.jpg); }

.title--container {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #bfbfbf;
  height: auto;
  padding: 12px; }

.una--columna {
  grid-template-columns: 1fr;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; }

.dos--columnas {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "uno dos" "tres cuatro" "cinco seis"; }

.tres--columnas {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "uno dos tres" "cuatro cinco seis"; }

@media screen and (max-width: 780px) {
  .dos--columnas {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; } }
@media screen and (max-width: 1060px) {
  .tres--columnas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis"; } }
@media screen and (max-width: 730px) {
  .tres--columnas {
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis"; }

  .img--grid {
    width: 240px;
    height: 160px; } }
.uno {
  grid-area: uno; }

.dos {
  grid-area: dos; }

.tres {
  grid-area: tres; }

.cuatro {
  grid-area: cuatro; }

.cinco {
  grid-area: cinco; }

.seis {
  grid-area: seis; }

.main--menu {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  border-bottom: 1px solid #bfbfbf; }

.navigation ul {
  display: none;
  width: 100px;
  margin: 230px 24px 8px 8px;
  background: #FFF; }

.navigation:hover ul, ul:hover {
  display: block; }

.titles {
  font-weight: 700;
  margin: 8px;
  text-align: center; }

.titleH1 {
  font-size: 32px; }

.titleH2 {
  font-size: 20px; }

.titleH3 {
  font-size: 16px; }

.text--decoration, footer ul li a {
  text-decoration: none;
  cursor: pointer; }

.list--style {
  list-style: none;
  margin-left: 4px; }

.list--item__menu {
  margin: 8px;
  text-align: right; }

.list--item__menu:hover a {
  font-weight: 700;
  border-bottom: 2px dashed #bfbfbf; }

.list--item__content {
  margin: 4px 0; }

.flex--center, footer ul li a {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex--left {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.flex--right {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex--around {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.grid--center {
  display: grid;
  justify-content: center;
  align-items: center; }

footer {
  width: 80%;
  height: 60px;
  bottom: 0;
  text-align: center;
  margin: 0 auto; }

footer ul {
  display: block; }

footer ul li {
  display: inline-block;
  margin: 8px;
  padding: 4px;
  background: #FFF; }

footer ul li a {
  border-radius: 50%;
  height: 24px;
  width: 24px; }

footer ul li a:hover {
  background: #4d4d4d; }

footer ul li a:hover i {
  color: #FFF; }

/*# sourceMappingURL=style.css.map */
