.logo{
    height: 50px;
    width: auto;
    margin: 12px;
}
.menu__img{
    width: 32px;
    height: auto;
    cursor: pointer;
    position: fixed;
    top: 24px;
    right: 11%;
}
.img--content{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax{
    @extend .img--content;
    background-attachment: fixed;
}