.titles{
    font-weight: 700;
    margin: 8px;
    text-align: center;
}
.titleH1{
    font-size: 32px;
}
.titleH2{
    font-size: 20px;
}
.titleH3{
    font-size: 16px;
}
.text--decoration{
    text-decoration: none;
    cursor: pointer;
}
.text--left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text--right{
    text-align: right;
}
.text--justify{
    text-align: justify;
}
.list--style{
    list-style: none;
    margin-left: 6px;
}
.list--item__menu{
    margin: 8px;
    text-align: right;
}
.list--item__menu:hover a{
    font-weight: 700;
    border-bottom: 2px dashed $gris_bordes;
}
.list--item__content{
    margin: 4px 0;
}
.text--description{
    width: 70%;
    line-height: 18px;
    margin: 4px ;
}