.flex--center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex--left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.flex--right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flex--between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex--around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}