.main--column{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-gap: 8px;
    margin-top: 16px;
}
.top--container{
    margin-top: 75px;
}
.showcase--container{
    @extend .top--container;
    width: 100%;
    height: 60vh;
    background: url(../img/background.jpg);
}
.title--container{
    background: rgba($blanco_fondo, 0.9);
    border: 1px solid $gris_bordes;
    height: auto;
    padding: 12px;
}
.una--columna{
    @extend .grid;
    grid-template-columns: 1fr;
    grid-template-areas: "uno"
                         "dos"
                         "tres"
                         "cuatro"
                         "cinco"
                         "seis";
}
.dos--columnas{
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "uno dos"
                         "tres cuatro"
                         "cinco seis";
}
.tres--columnas{
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "uno dos tres"
                         "cuatro cinco seis";
}
@media screen and (max-width: 780px){
    .dos--columnas{
        grid-template-columns: 1fr;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco"
                             "seis";
    }
    .text--conoceme{
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1060px){
    .tres--columnas{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "uno dos"
                             "tres cuatro"
                             "cinco seis";
    }
}
@media screen and (max-width:730px){
    .tres--columnas{
        grid-template-columns: 1fr;
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco"
                             "seis";
    }
    .img--grid{
        width: 240px;
        height: 160px;
    }
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}